<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleNotes</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="notes" id="app">
        @RenderBody()        
    </div>
    @RenderBody()

    <script src="~/js/main.js" asp-append-version="true" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>